<!--	
/*
 *  RLayout
 *  =======
 *
 *  Responsive layout for portal based webapp
 * 
 *  © 2015-2016 Diogo Simões - diogosimoes.com
 *
 */
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>
		<link id="stylesheet" rel="stylesheet" type="text/css" href="styles/cobalt.css">
		<link rel="stylesheet" href="icons/font-awesome-4.3.0/css/font-awesome.min.css">
		<script type="text/javascript" src="scripts/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="scripts/jquery-ui-1.11.4.min.js"></script>
		<script type="text/javascript" src="scripts/layout.js"></script>
	</head>

	<body>
		<div class="app-container">
			<div class="content-container">
				<div id="status-bar" >
					<div class="title">
						<span class="organization">{{organization.name}}</span>
					</div>
					<div class="actions-area">
						<ul class="actions">
						{{#actions.custom_actions}}
							<li class="action">
								<a href="{{link}}">
									<span class="action-item">{{label}}</span>
									<i class="fa fa-{{icon}} action-icon"></i>
								</a>
							</li>
						{{/actions.custom_actions}}
							<li class="action">
								<a href="{{actions.notifications.link}}">
									<span class="action-item">{{actions.notifications.label}}</span>
									<i class="fa fa-{{actions.notifications.icon}} action-icon-small"></i>
									<span class="action-counter">{{actions.notifications.new_messages}}</span>
								</a>
							</li>
							<li class="action">
								<a href="{{actions.feedback.link}}">					
									<span class="action-item">{{actions.feedback.label}}</span>
									<i class="fa fa-{{actions.feedback.icon}} action-icon"></i>
								</a>
							</li>
							<li class="action"> 
								<a id="user-menu-toggler" href="#" >
									<img class="avatar" src="{{user.avatar}}"></img><span class="action-item user">{{user.name}}</span>
									<i class="fa fa-caret-down  action-icon"></i>
								</a>
							</li>
						</ul>
						<ul class="user-menu">
							<li><a href="#">Change password <i class="fa fa-key"></i></a></li>
							<li><a href="#">Profile settings <i class="fa fa-cog"></i></a></li>
							<li><a href="#">Help <i class="fa fa-life-ring"></i></a></li>
							<li><a href="#">Log out <i class="fa fa-sign-out"></i></a></li>
						</ul>
					</div>			
				</div>
				<div id="header">
					<div class="portal-small-selected">Selected Menu!</div>
					<ul class="portals">
						<!-- Hack to prevent gutter on inline-blocks ;)
				{{#portals}}
					{{#selected}}
						--><li class="portal selected-portal"><a href="{{link}}">{{label}}</a></li><!--
					{{/selected}}
					{{^selected}}
						--><li class="portal"><a href="{{link}}">{{label}}</a></li><!--
					{{/selected}}
				{{/portals}}
						-->
					</ul>
				</div>
				<div class="center">
					<div class="menu" >
						<div class="menu-toggler"><i class="fa fa-chevron-up menu-toggler-icon"></i>MENU</div>
						<ul class="menu-items">
					{{#menu}}
						{{#l0}}
							{{#link}}
								{{#selected}}
								<li class="menu-item menu-item-l0 selected-menu-item"><a href="{{link}}">{{label}}<i class="fa fa-plus-circle menu-header-icon"></i></a></li>
								{{/selected}}
								{{^selected}}
								<li class="menu-item menu-item-l0"><a href="{{link}}">{{label}}<i class="fa fa-plus-circle menu-header-icon"></i></a></li>
								{{/selected}}
							{{/link}}
							{{^link}}
								{{#selected}}
								<li class="menu-item menu-item-l0 selected-menu-item"><div>{{label}}<i class="fa fa-plus-circle menu-header-icon"></i></div></li>
								{{/selected}}
								{{^selected}}
								<li class="menu-item menu-item-l0"><div>{{label}}<i class="fa fa-plus-circle menu-header-icon"></i></div></li>
								{{/selected}}
							{{/link}}
						{{/l0}}
						{{#l1}}
							{{#selected}}
							<li class="menu-item menu-item-l1 selected-menu-item"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
							{{^selected}}
							<li class="menu-item menu-item-l1"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
						{{/l1}}
						{{#l2}}
							{{#selected}}
							<li class="menu-item menu-item-l2 selected-menu-item"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
							{{^selected}}
							<li class="menu-item menu-item-l2"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
						{{/l2}}
						{{#l3}}
							{{#selected}}
							<li class="menu-item menu-item-l3 selected-menu-item"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
							{{^selected}}
							<li class="menu-item menu-item-l3"><a href="{{link}}">{{label}}<i class="fa menu-item-icon"></i></a></li>
							{{/selected}}
						{{/l3}}
					{{/menu}}
						</ul>
					</div>
					<div id="main" >
						<div class="theme-builder">
							<ul id="breadcrumb">
								<li><a href="">Square Portal <i class="fa fa-angle-right"></i></a></li>
								<li><a href="">Functionality B <i class="fa fa-angle-right"></i></a></li>
								<li><a href="">Sub-action 3.2 <i class="fa fa-angle-right"></i></a></li>
							</ul>
							<article class="content-container">
								<div class="content-container-window">
									<h1>Branding swatch</h1>
									<label>Try me:
										<select>
											<option selected="selected" value="cobalt">Cobalt</option>
											<option value="copper">Copper</option>
											<option value="garnet">Garnet</option>
											<option value="antracite">Antracite</option>
											<option value="gold">Gold</option>
											<option value="jade">Jade</option>
											<option value="velvet">Velvet</option>
										</select>
									</label>
								</div>
							</article>									
						</div>
					</div>
				</div>
			</div>
			<footer class="app-footer" >
				<div class="copyright">
					<i class="fa fa-copyright"></i>2015-<script>document.write(new Date().getFullYear());</script> <span style="font-weight: 400;">diogosimoes.com</span> All rights reserved.
				</div>
				<div class="social-media">
					<i class="fa fa-facebook media-icon"/></i>
					<i class="fa fa-twitter media-icon"/></i>
					<i class="fa fa-linkedin media-icon"/></i>
				</div>
			</footer>
		</div>
	</body>
</html>
