
/*
 *  RLayout
 *  =======
 *
 *  Responsive layout for portal based webapp
 * 
 *  (c) 2015-2016 Diogo Simoes - diogosimoes.com
 *
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

$branding_color: #153151 !default;

@mixin clickable {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin box-shadow ($h, $v, $blur, $spread, $color) {
	-webkit-box-shadow: $h $v $blur $spread $color;
	-moz-box-shadow: $h $v $blur $spread $color;
	box-shadow: $h $v $blur $spread $color;
}

@mixin box-shadow-inset ($h, $v, $blur, $spread, $color) {
	-webkit-box-shadow: $h $v $blur $spread $color inset;
	-moz-box-shadow: $h $v $blur $spread $color inset;
	box-shadow: $h $v $blur $spread $color inset;
}

@mixin bg-gradient ($start_color, $end_color) {
	background: $start_color; /* Old browsers */
	background: -moz-linear-gradient(top, $start_color 0%, $end_color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start_color), color-stop(100%, $end_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $start_color 0%, $end_color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $start_color 0%, $end_color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $start_color 0%, $end_color 100%); /* IE10+ */
	background: linear-gradient(to bottom, $start_color 0%, $end_color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='ie-hex-str($start_color)', endColorstr='ie-hex-str($end_color)',GradientType=0 ); /* IE6-9 */
}

@mixin button-gradient ($base_color) {
	background: $base_color; /* Old browsers */
	background: -moz-linear-gradient(top,  lighten($base_color, 15%) 1%, lighten($base_color, 5%) 4%, darken($base_color, 3%) 82%, $base_color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,lighten($base_color, 15%)), color-stop(4%,lighten($base_color, 5%)), color-stop(82%,darken($base_color, 3%)), color-stop(100%,$base_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  lighten($base_color, 15%) 1%,lighten($base_color, 5%) 4%,darken($base_color, 3%) 82%,$base_color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  lighten($base_color, 15%) 1%,lighten($base_color, 5%) 4%,darken($base_color, 3%) 82%,$base_color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  lighten($base_color, 15%) 1%,lighten($base_color, 5%) 4%,darken($base_color, 3%) 82%,$base_color 100%); /* IE10+ */
	background: linear-gradient(to bottom,  lighten($base_color, 15%) 1%,lighten($base_color, 5%) 4%,darken($base_color, 3%) 82%,$base_color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='ie-hex-str(lighten($base_color, 5%))', endColorstr='ie-hex-str($base_color)',GradientType=0 ); /* IE6-9 */	
}

@mixin transform($transformation) {
	-webkit-transform: $transformation;	/* Safari */
	-moz-transform: $transformation;	/* Firefox */
	-ms-transform: $transformation;		/* IE */
	-o-transform: $transformation;		/* Opera */
	transform: $transformation;
}

@mixin transform-origin($transformation) {
	-webkit-transform-origin: $transformation;	/* Safari */
	-moz-transform-origin: $transformation;	/* Firefox */
	-ms-transform-origin: $transformation;		/* IE */
	-o-transform-origin: $transformation;		/* Opera */
	transform-origin: $transformation;
}

@mixin keyframes ($animation_name) {
	@-webkit-keyframes #{$animation_name} {@content;}
	@-moz-keyframes #{$animation_name} {@content;}
	@-ms-keyframes #{$animation_name} {@content;}
	@-o-keyframes #{$animation_name} {@content;}
	@keyframes #{$animation_name} {@content;}
}

@mixin animation ($animations...) {
	-webkit-animation: $animations;
 	-moz-animation:    $animations;
 	-o-animation:      $animations;
 	animation:         $animations;
}

@mixin mobile {
	@media screen and (max-width: 650px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 651px) and (max-width: 960px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 961px) {
		@content;
	}
}

@mixin non-mobile {
	@media screen and (min-width: 651px) {
		@content;
	}
}

@mixin non-desktop {
	@media screen and (max-width: 960px) {
		@content;
	}
}

@mixin layout {

	html,body {
	  margin: 0;
	  padding: 0;
	  height: 100%;
	}

	body {
		padding-top: 0;
		position: relative;
		background-color: #F9F9F9;
	}

	.app-container {
		min-height: 100%;
		position: relative;

		.content-container {
			margin: 0;

			#status-bar {
				display: block;
				min-height: 60px;
				padding: 0 15px;
		    	background-color: #fff;
		    	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
				.title {
					display: inline-block;
					float: left;
					line-height: 60px;
					text-align: center;
					vertical-align: top;
					.organization, .individual {
						color: #353d47;
						font: 600 18px/35px Lato, sans-serif;
					}

					.individual {
						display: inline;
						font-weight: 400;
						&:before {
							content: "|";
							padding: 0 1em;
						}
						
					}
				}
				.actions-area {
					display: inline-block;
					float: right;
					text-align: right;
					.user {
							@include mobile {
								display: none;
							}
						}
					.avatar {
						width: 22px;
						height: 22px;
						border-radius: 22px;
						vertical-align: middle;
						margin-right: 0.5em;
						@media screen and (max-width: 960px) { 
							width: 18px;
							height: 18px;
							border-radius: 18px;
							margin-left: -8px;
						}

					}
					.user-menu {
						display:none;
						position: absolute;
					    z-index: 13;
					    background-color: rgb(247,247,247);
					    list-style: none;
					    padding:2px 8px 2px;
					    right: 15px;
					    top: 44px;
					    width: 165px;
					    border-radius: 0 0 3px 3px;
						@include box-shadow(0, 1px, 1px, 0, rgba(0, 0, 0, 0.15));
						@include non-desktop {
							right: 11px;
						}
					    li {
					    	padding: 3px;
					    	text-align: left;
					    	border-bottom: 1px solid rgba(#353d47, 0.06);
					    	&:last-child {
					    		border-bottom: none;
					    	}
					    	a {
					    		@include clickable;
					    		display: block;
					    		text-decoration: none;
					    		font: 600 13px/35px Lato, sans-serif;
					    		color: #353d47;
					    		i {
					    			float: right;
					    			line-height: 38px;
					    		}
					    		&:hover {
					    			color: $branding_color;
					    		}

					    	}
					    }
					    
					    
					}
					.actions {
						display: inline;
						margin: 0;
						padding: 0;
						.action {
							@include clickable;
							display: inline;
							white-space: nowrap;
							list-style-type: none;					
							padding: 21px 0;
							color: #bbb;										
							border-left: 1px solid #F9F9F9;
							@include non-desktop {
								display: inline-block;
								width: 60px;
								height: 60px;
								margin-right: -4px;
								padding: 0;
								text-align: center;
								vertical-align: middle;
							}
							&:hover {
								background-color: rgb(247,247,247);
								color: $branding_color;
							}
							#user-menu-toggler {
								&.open {
									background-color: rgb(247,247,247);
									color: $branding_color;
								}
							}
							a {
								padding: 21px 20px;
								color: inherit;
								text-decoration: inherit;
								cursor: inherit;
								height: 60px;
								line-height: 60px;
								color: #353d47;
								@include non-desktop {
									line-height: 60px;
								}
								
								
							}
							.action-icon {
								@include non-desktop {
									font-size: 12px;
									line-height: 26px;
								}
								@include desktop {
									font-size: 11px;
									padding-left: 2px;
								}
							}
							.action-icon-small {
								@extend .action-icon;
								@include desktop {
									display: none;
								}
							}
							.action-item {
								@include non-desktop {
									display: none;
								}
								font: 600 13px/35px Lato, sans-serif;					
							}
							.action-counter {
								color: #f70;
								font: 800 9px Lato, sans-serif;
								vertical-align: super;
							}
						}
					}
				}
			}

			#header {
				background-color: $branding_color;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
				width: 100%;
				display: inline-block;
				.portal-small-selected {
					background-color: lighten($branding_color, 10%);
					font: 400 14px/45px Lato, sans-serif;
					cursor: default;
					color: #fff;
					padding: 0 15px;
					@include non-mobile {
						display: none;
					}
					&.open {
						&:after {
							display: inline;
							content: '\f077';
							font-family: 'FontAwesome';
							float: right;
							margin-right: 10px;
						}
					}
					&:after {
						display: inline;
						content: '\f078';
						font-family: 'FontAwesome';
						float: right;
						margin-right: 10px;
					}
				}
				.portals {
					margin: 0;
					padding: 0;
					width: 100%;
					@include mobile {
						max-height: 0;
						position: absolute;
						background-color: $branding_color;
						list-style: none;
						border-radius: 0 0 3px 3px;
						
						z-index: 11;
						overflow: hidden;
						transition: all 0.3s ease-out
					}
					&.open {
						max-height: 100%;
					}
					.portal {
						@include clickable;
						display: inline-block;
						list-style-type: none;				
						font: 400 14px/45px Lato, sans-serif;
						color: #fff;
						@include mobile {
							display: block;
						}
						&:hover {
							background-color: lighten($branding_color, 5%);
						}
						&:active {
							background-color: lighten($branding_color, 10%);
						}
						a {
							display: block;
							padding: 0 15px;
		  					text-decoration: inherit;
		  					cursor: inherit;
		  					color: #fff;
						}
					}
					.selected-portal {
						background-color: lighten($branding_color, 10%);
						font: 400 14px/45px Lato, sans-serif;
						@include mobile {
							display: none;
						}
						@include non-mobile {
							cursor: default;
						}
						&:hover {
							background-color: lighten($branding_color, 10%);
						}
						&:active {
							background-color: lighten($branding_color, 10%);
						}
					}
				}
			}
			
			.center {
				position: relative;
				width: 100%;
				height: 100%;

				.menu {
					position: absolute;	
					width: 15em;
					top: 0;
					left: 0;
					background-color: #292929;	
					z-index: 10;
					height: 100%;
					&.menu-collapsed {
						left: -15em;
						@include keyframes('collapse') {
							from {left: 0;}
							to {left: -15em;}
						}
						@include animation(collapse ease-out 400ms);
					}
					&.menu-expanded {
						left: 0;
						@include keyframes('expand') {
							from {left: -15em;}
							to {left: 0;}
						}
						@include animation(expand ease-out 400ms);
					}
					.menu-toggler {
						    position: absolute;
						    top: 108px;
							left: 100%;
							width: 71px;
							padding: 7px 14px;
							background-color: darken($branding_color, 10%);
							color: #ffffff;
							font: 400 14px Lato, sans-serif;
							opacity: 0.85;
							@include transform(rotate(-90deg));
							margin-left: -34px;
							@include clickable;
							&:hover {
								opacity: 1;
 								@include keyframes('toggler-opacity') {
 									from {opacity: 0.85;}
 									to {opacity: 1;}
 								}
 								@include animation(toggler-opacity linear 200ms);
 							}
							&:before {
								content: '';
								position: absolute;
								top: 0;
								left: 0;
								margin-left: -19px;
								border: 12px solid transparent;
								border-right: 7px solid darken($branding_color, 10%);
								border-top: 19px solid darken($branding_color, 10%);
								border-bottom-right-radius: 1px;
							}
							&:after {
								content: '';
								position: absolute;
								top: 0;
								right: 0;
								margin-right: -19px;
								border: 12px solid transparent;
								border-left: 7px solid darken($branding_color, 10%);
								border-top: 19px solid darken($branding_color, 10%);
								border-bottom-left-radius: 1px;
							}

							.menu-toggler-icon {
								margin-right: 8px;
							}
					}
					.menu-items {
						margin: 0;
						padding: 0;
						margin-top: 55px;
						.menu-item {
							list-style-type: none;
							color: #ccc;
							@include clickable;
							font: 300 14px Lato, sans-serif;
							&:hover {
								color: #fff;
							}
							a {
								display: block;
								padding: 8px 8px 8px 1em;
								color: inherit;
								text-decoration: inherit;
								cursor: inherit;
							}
							.menu-item-icon {
								float: right;
								font-size: 10px;
								width: 19px;
								height: 19px;
								line-height: 18px;
							}
						}
						.menu-item-l0 {
							margin: 1px 0;
							background-color: #424242;
							color: #fff;
							@include clickable;
							.menu-header-icon {
								line-height: 35px;
								float: right;
								margin-right: 8px;
								font-size: 14px;
							}
							div {
								line-height: 35px;
								margin: 0 8px;
								padding: 2px 0;
							}
							a {
								line-height: 35px;
								margin: 0 8px;
								padding: 0;
							}
							&.selected-menu-item {
								border-bottom: none;
								background-color: rgba($branding_color, 0.4);
								border-left: none;
								padding: 0;
								color: #fff;
								font-weight: 500;
							}
							&:hover {
								background-color: rgba($branding_color, 0.4);
								color: #fff;
							}
						}
						.selected-menu-item {
							/*background-color: #333;*/
							color: #fff;
							border-left: 8px solid rgba($branding_color, 0.4);
						}
						.menu-item-l2 {
							display: none;
							font: 300 14px Lato, sans-serif;
							a {
								padding-left: 2em;
							}
						}
						.menu-item-l3 {
							display: none;
							font: 300 14px Lato, sans-serif;
							a {
								padding-left: 3em;
							}			
						}
						.menu-item-l1.selected-menu-item,
						.menu-item-l3.selected-menu-item,
						.menu-item-l2.selected-menu-item {
							font-weight: 400;
							font: 400 14px Lato, sans-serif;
							background-color: #222;
						}
					}	
				}

				#main {
					position: relative;
					display: block;
					min-height: 100%;
					background-color: #F9F9F9;
					@include mobile {
						margin: 0 0 0 50px;
					}
					@include non-mobile {
						margin: 0 0 0 300px;
					}
					&.expanded {
						margin: 0 0 0 50px;
					}

					.theme-builder {
						text-align: left;
						display: block;
						padding-top: 1px;
						padding-bottom: 3em;
						font: 400 13px Lato, sans-serif;
						#breadcrumb {
							list-style:none;
  							display: inline-block;
  							padding-left: 8px;
  							margin-top: 20px;
  							li{
							    float:left;
							    a{
							      color:#353d47;
							      font-size: 12px;
							      display:block;
							      text-decoration: none;
							      position:relative;
							      text-align: center;
							      margin-right: 8px;
							      &:hover {
							      	color: $branding_color;
							      }
							      i {
							      	margin-left: 2px;
							      }
							    }
							    &:last-child {
							    	a i {
							    		display: none;
							    	}
							    }
							}    
						}
						.content-container {
							background-color: #fff;
							margin: 0 30px 0 0;
							.content-container-window {
								padding: 15px;
							}
						}
						h1 {
							font: 400 34px Lato, sans-serif;
							margin-top: 1em 0 0.5em 0;				
						}
						label {
							font: 400 16px Lato, sans-serif;
						}
						select {
							margin: 0 0 0 0.5em;
							background: transparent;
							border-radius: 4px;
							border: 2px solid #ccc;
							padding: 4px;
							font: 400 15px Lato, sans-serif;
						}			
					}
				}
			}
		}

		.app-footer {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			@include mobile {
				margin: 0 0 0 50px;
			}
			@include non-mobile {
				margin: 0 0 0 300px;
			}
			&.expanded {
				margin: 0 0 0 50px;
			}
			.copyright {
				float: left;
				padding: 15px;
				@include non-desktop {
					display: inline-block;
				}
				@include desktop {
					display: inline;
				}
				display: inline;
				text-align: center;
				color: #bbb;
				font: 300 13px/35px Lato, sans-serif;
			}
			.social-media {
				float: right;
				padding: 15px 30px 15px 15px;
				@include mobile {
					display: inline-block;
					text-align: center;
				}
				@include tablet {
					display: inline-block;
					text-align: left;
				}
				@include desktop {
					margin: 0 0 0 5em;
					display: inline;
					text-align: center;
				}			
				.media-icon {
					@include clickable;
					vertical-align: middle;
					margin: 0 0.25em;			
					color: #bbb;
					font-size: 18px;
					line-height: 35px;
					&:hover {
						color: $branding_color;
					}
					&:active {
						color: $branding_color;
					}
				}
			}
		}
	}
}
